{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}
    <title>Rate problems</title>
    {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% else %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
    {% endif %}
    <h2 class="text-center">Would you like to see other problems like this</h2>
        <div class="text-secondary text-center">
    Only non-default rating will be submitted
    </div>
    <form method="post" >
        {% csrf_token %}
        {% for problem in problems %}
            <div class="card p-2 mt-2">
                {{ problem.0 }} {{ problem.1 }}
                <div class="d-flex justify-content-between">
                    <span class="mr-auto">Less</span><span class="ml-auto">More</span>
                </div>
                <input type="range" min=-2 max=2 value=0 class="form-range" name={{ problem.0 }}>
            </div>

        {% endfor %}
        <br><br>
        <button type="submit" class="fixed-bottom ml-auto btn btn-primary btn-lg">Submit</button>
    </form>
{% endblock %}