{% extends 'base.html' %}

{% block content %}
    <h2 class="mt-5">Register</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% else %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <b>Use the same username as in codeforces</b>
        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-primary"></input>

    </form>

{% endblock %}